section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 32rem;
    margin: auto;
}
.container-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    max-width: 150px;
}

.container-img img {
    display: flex;
    border-radius: 50%;
    width: 100%;
}

.container-text {
    margin-left: auto;
    margin-right: auto;
    
}

.container-text h1 {
    letter-spacing: .025em;
    font-weight: 600;
    font-family: "Inter", sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: var(--primary);
}

.container-projects {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.container-projects  ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.container-projects  li {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
}