<section>
    <div class="container-img">
        <img src="../assets/PERFIL.webp" />
    </div>
    <div class="container-text">
        <h1>
            Sou Lucas, um design engineer dedicado a criar experiências significativas.
            No domínio onde a tecnologia e a estética convergem, uso o código e o design como ferramentas para dar vida
            ao
            intangível.
        </h1>
    </div>
    <div class="container-projects">
        <ul>
            <li>
                <span>Projeto appschons</span>
                <p>Feito com css html e angular</p>
            </li>
            <li>
                <span>Projeto appschons</span>
                <p>Feito com css html e angular</p>
            </li>
        </ul>
    </div>
</section>
