<section>
    <div class="container-img">
        <img src="../assets/PERFIL.webp" />
    </div>
    <div class="container-text">
        <h1>
            Sou Lucas, um design engineer dedicado em criar experiências significativas.
            Trabalho com design e código para que ideias se transformem em realidade de forma eficiente e inovadora.
        </h1>
    </div>
    <div class="container-projects">
        <ul>
            <li>
                <h2>App Mercearia Schons</h2>
                <p>
                    Projeto desenvolvido para que clientes da mercearia possam realizar pedidos 
                    de doces e salgados direto do site.
                </p>
                <div class="links">
                    <a href="https://merceariaschons.com.br/home">
                        <img src="https://img.shields.io/badge/%F0%9F%93%B1Visit_this_project-000?style=for-the-badge&logo=project">
                    </a>
                    <a href="https://github.com/lucaSchons/appschons">
                        <i class="fa-brands fa-square-github"></i>
                    </a>
                </div>
            </li>
            <li>
                <h2>App Ieda Bianchini</h2>
                <p>
                    Landing page desenvolvida para a psicopedagoga, Ieda Bianchini. Objetivo principal do projeto 
                    foi alcançar mais público fora das redes socias.
                </p>
                <div class="links">
                    <a href="https://iedabianchini.com.br/">
                        <img src="https://img.shields.io/badge/%F0%9F%93%B1Visit_this_project-000?style=for-the-badge&logo=project">
                    </a>
                    <a href="https://github.com/lucaSchons/app_iedabianchini">
                        <i class="fa-brands fa-square-github"></i>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>